{% extends "base.twig" %}
{% block title %}Profile{% endblock %}
{% block body %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">My Profile page</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

        </div>
    </div>


    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <svg class="strokeCurrent" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 15C10.1183 15 9.28093 14.8098 8.52682 14.4682C8.00429 14.2315 7.74302 14.1131 7.59797 14.0722C7.4472 14.0297 7.35983 14.0143 7.20361 14.0026C7.05331 13.9914 6.94079 14 6.71575 14.0172C6.6237 14.0242 6.5425 14.0341 6.46558 14.048C5.23442 14.2709 4.27087 15.2344 4.04798 16.4656C4 16.7306 4 17.0485 4 17.6841V19.4C4 19.9601 4 20.2401 4.10899 20.454C4.20487 20.6422 4.35785 20.7951 4.54601 20.891C4.75992 21 5.03995 21 5.6 21H8.4M15 7C15 9.20914 13.2091 11 11 11C8.79086 11 7 9.20914 7 7C7 4.79086 8.79086 3 11 3C13.2091 3 15 4.79086 15 7ZM12.5898 21L14.6148 20.595C14.7914 20.5597 14.8797 20.542 14.962 20.5097C15.0351 20.4811 15.1045 20.4439 15.1689 20.399C15.2414 20.3484 15.3051 20.2848 15.4324 20.1574L19.5898 16C20.1421 15.4477 20.1421 14.5523 19.5898 14C19.0376 13.4477 18.1421 13.4477 17.5898 14L13.4324 18.1574C13.3051 18.2848 13.2414 18.3484 13.1908 18.421C13.1459 18.4853 13.1088 18.5548 13.0801 18.6279C13.0478 18.7102 13.0302 18.7985 12.9948 18.975L12.5898 21Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="ms-2">Base user data</span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <form action="/profile" method="post">
                        <input type="hidden" name="uuid" value="{{ user.uuid }}">
                        <div>
                            <label for="username" class="form-label">Username</label>
                            <input readonly id="username" name="username" type="text" class="form-control"
                                   value="{{ user.username }}">
                            <div id="err-username" class="invalid-feedback"></div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 mt-3">
                                <label for="firstname" class="form-label">Firstname</label>
                                <input id="firstname" name="firstname" type="text" class="form-control"
                                       value="{{ user.firstname }}">
                                <div id="err-firstname" class="invalid-feedback"></div>
                            </div>
                            <div class="col-12 col-sm-6 mt-3">
                                <label for="lastname" class="form-label">Lastname</label>
                                <input id="lastname" name="lastname" type="text" class="form-control"
                                       value="{{ user.lastname }}">
                                <div id="err-lastname" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <label for="email" class="form-label">Email</label>
                            <input readonly id="email" name="email" type="email" class="form-control"
                                   value="{{ user.email }}">
                            <div id="err-email" class="invalid-feedback"></div>
                        </div>
                        <button class="btn btn-success  py-2 mt-3" data-bs-dismiss="modal" type="submit">Update profile</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" >
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <svg class="strokeCurrent" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="9" r="2" stroke-width="1.5"/>
                        <path d="M16 15C16 16.1046 16 17 12 17C8 17 8 16.1046 8 15C8 13.8954 9.79086 13 12 13C14.2091 13 16 13.8954 16 15Z" stroke-width="1.5"/>
                        <path d="M3 10.4167C3 7.21907 3 5.62028 3.37752 5.08241C3.75503 4.54454 5.25832 4.02996 8.26491 3.00079L8.83772 2.80472C10.405 2.26824 11.1886 2 12 2C12.8114 2 13.595 2.26824 15.1623 2.80472L15.7351 3.00079C18.7417 4.02996 20.245 4.54454 20.6225 5.08241C21 5.62028 21 7.21907 21 10.4167C21 10.8996 21 11.4234 21 11.9914C21 14.4963 20.1632 16.4284 19 17.9041M3.19284 14C4.05026 18.2984 7.57641 20.5129 9.89856 21.5273C10.62 21.8424 10.9807 22 12 22C13.0193 22 13.38 21.8424 14.1014 21.5273C14.6796 21.2747 15.3324 20.9478 16 20.5328"  stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                    <span class="ms-2">Password and authentication</span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    {# Two-factor methods #}
                    <div class="card">
                        <div class="card-header">
                            Two-factor methods
                        </div>
                        <div class="card-body">
                            <div class="list-group">
                                <div class="list-group-item list-group-item-action" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <svg class="strokeCurrent" width="24px" height="24px" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 18H12.01M11 6H13M9.2 21H14.8C15.9201 21 16.4802 21 16.908 20.782C17.2843 20.5903 17.5903 20.2843 17.782 19.908C18 19.4802 18 18.9201 18 17.8V6.2C18 5.0799 18 4.51984 17.782 4.09202C17.5903 3.71569 17.2843 3.40973 16.908 3.21799C16.4802 3 15.9201 3 14.8 3H9.2C8.0799 3 7.51984 3 7.09202 3.21799C6.71569 3.40973 6.40973 3.71569 6.21799 4.09202C6 4.51984 6 5.07989 6 6.2V17.8C6 18.9201 6 19.4802 6.21799 19.908C6.40973 20.2843 6.71569 20.5903 7.09202 20.782C7.51984 21 8.07989 21 9.2 21Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            {% if twoFactor.hasKey %}
                                                <h5 class="mb-1 ms-2">Authenticator app</h5><span class="badge rounded-pill border border-success text-success ms-2">Configured</span>
                                            {% else %}
                                                <h5 class="mb-1 ms-2">Authenticator app</h5><span class="badge rounded-pill border border-danger text-danger ms-2">Not configured</span>
                                            {% endif %}
                                        </div>
                                        {% if twoFactor.hasKey %}
                                            <div class="form-check form-switch">
                                                <input onchange="setTwoFactor()" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" {% if twoFactor.enabled %}checked{% endif %} />
                                            </div>
                                        {% else %}
                                            <a href="/two-factor" class="btn btn-sm btn-outline-primary">Add</a>
                                        {% endif %}
                                    </div>
                                    <p class="mb-1">Use an authentication app or browser extension to get two-factor authentication codes when prompted.</p>
                                </div>
                                <div class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <svg class="strokeCurrent" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <rect x="3" y="5" width="18" height="14" rx="2"  stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                            <h5 class="mb-1 ms-2">Email</h5><span class="badge rounded-pill border border-success text-success ms-2">Configured</span>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                                        </div>
                                    </div>
                                    <p class="mb-1">Use email for two-factor authentication.</p>
                                    <small class="text-body-secondary">After logging in, the system sends an email for two-factor authentication.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# Password settings #}
                    <div class="card mt-4">
                        <div class="card-header">
                            Password settings
                        </div>
                        <div class="card-body">
                            <form action="/change-password" method="post">
                                <input type="hidden" name="uuid" value="{{ user.uuid }}">
                                <div class="mb-3">
                                    <label for="old_password" class="form-label">Old password</label>
                                    <input id="old_password" name="old_password" type="password" class="form-control">
                                    <div id="err-old_password" class="invalid-feedback"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input id="password" name="password" type="password" class="form-control border-warning">
                                    <div id="err-password" class="invalid-feedback"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="password_confirm" class="form-label">Password retry</label>
                                    <input id="password_confirm" name="password_confirm" type="password" class="form-control border-warning">
                                    <div id="err-password_confirm" class="invalid-feedback"></div>
                                </div>
                                <button class="btn btn-danger  py-2" data-bs-dismiss="modal" type="submit">Update password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" >
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    <svg class="strokeCurrent" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="3"  stroke-width="1.5"/>
                        <path d="M13.7654 2.15224C13.3978 2 12.9319 2 12 2C11.0681 2 10.6022 2 10.2346 2.15224C9.74457 2.35523 9.35522 2.74458 9.15223 3.23463C9.05957 3.45834 9.0233 3.7185 9.00911 4.09799C8.98826 4.65568 8.70226 5.17189 8.21894 5.45093C7.73564 5.72996 7.14559 5.71954 6.65219 5.45876C6.31645 5.2813 6.07301 5.18262 5.83294 5.15102C5.30704 5.08178 4.77518 5.22429 4.35436 5.5472C4.03874 5.78938 3.80577 6.1929 3.33983 6.99993C2.87389 7.80697 2.64092 8.21048 2.58899 8.60491C2.51976 9.1308 2.66227 9.66266 2.98518 10.0835C3.13256 10.2756 3.3397 10.437 3.66119 10.639C4.1338 10.936 4.43789 11.4419 4.43786 12C4.43783 12.5581 4.13375 13.0639 3.66118 13.3608C3.33965 13.5629 3.13248 13.7244 2.98508 13.9165C2.66217 14.3373 2.51966 14.8691 2.5889 15.395C2.64082 15.7894 2.87379 16.193 3.33973 17C3.80568 17.807 4.03865 18.2106 4.35426 18.4527C4.77508 18.7756 5.30694 18.9181 5.83284 18.8489C6.07289 18.8173 6.31632 18.7186 6.65204 18.5412C7.14547 18.2804 7.73556 18.27 8.2189 18.549C8.70224 18.8281 8.98826 19.3443 9.00911 19.9021C9.02331 20.2815 9.05957 20.5417 9.15223 20.7654C9.35522 21.2554 9.74457 21.6448 10.2346 21.8478C10.6022 22 11.0681 22 12 22C12.9319 22 13.3978 22 13.7654 21.8478C14.2554 21.6448 14.6448 21.2554 14.8477 20.7654C14.9404 20.5417 14.9767 20.2815 14.9909 19.902C15.0117 19.3443 15.2977 18.8281 15.781 18.549C16.2643 18.2699 16.8544 18.2804 17.3479 18.5412C17.6836 18.7186 17.927 18.8172 18.167 18.8488C18.6929 18.9181 19.2248 18.7756 19.6456 18.4527C19.9612 18.2105 20.1942 17.807 20.6601 16.9999C21.1261 16.1929 21.3591 15.7894 21.411 15.395C21.4802 14.8691 21.3377 14.3372 21.0148 13.9164C20.8674 13.7243 20.6602 13.5628 20.3387 13.3608C19.8662 13.0639 19.5621 12.558 19.5621 11.9999C19.5621 11.4418 19.8662 10.9361 20.3387 10.6392C20.6603 10.4371 20.8675 10.2757 21.0149 10.0835C21.3378 9.66273 21.4803 9.13087 21.4111 8.60497C21.3592 8.21055 21.1262 7.80703 20.6602 7C20.1943 6.19297 19.9613 5.78945 19.6457 5.54727C19.2249 5.22436 18.693 5.08185 18.1671 5.15109C17.9271 5.18269 17.6837 5.28136 17.3479 5.4588C16.8545 5.71959 16.2644 5.73002 15.7811 5.45096C15.2977 5.17191 15.0117 4.65566 14.9909 4.09794C14.9767 3.71848 14.9404 3.45833 14.8477 3.23463C14.6448 2.74458 14.2554 2.35523 13.7654 2.15224Z"  stroke-width="1.5"/>
                    </svg>
                    <span class="ms-2">Settings</span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Email?
                </div>
            </div>
        </div>
    </div>










{% endblock %}

{% block script %}
    <script>
        function setTwoFactor() {
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            fetch("/two-factor/set", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-Token": csrfToken
                },
                body: JSON.stringify({
                    twoFactor: document.getElementById("flexSwitchCheckDefault").checked,
                }),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (!data.success) {
                        // error Handling
                    }
                })
            ;
        }
    </script>
{% endblock %}