{% extends "base.twig" %}
{% block title %}User Signup{% endblock %}

{% block header %}
    <style>
        {% include 'bs-stepper.css' %}
        html,
        body {
            height: 100%;
        }
        .form-signup {
            max-width: 600px;
            padding: 1rem;
        }
    </style>
{% endblock %}
{% block body %}

    <main class="form-signup w-100 m-auto">
            <div class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step {%if step == 'signup' %}active{% endif %}" data-target="#logins-part">
                        <button type="button" {%if step != 'signup' %}disabled="disabled"{% endif %} class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger" aria-selected="true">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Signup</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step {%if step == 'activate' %}active{% endif %}" data-target="#information-part">
                        <button type="button" {%if step != 'activate' %}disabled="disabled"{% endif %} class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">Validation</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step {%if step == 'success' %}active{% endif %}" data-target="#information-part">
                        <button type="button" {%if step != 'success' %}disabled="disabled"{% endif %} class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">Login</span>
                        </button>
                    </div>

                </div>
                <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger"></div>
                    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger"></div>
                </div>
            </div>

{% if step == 'signup' %}
        <form action="/signup/signup" method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            {{ _scrf | raw }}
            <h1 class="h3 mb-3 fw-normal">Sign up</h1>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" name="username" type="text" class="form-control" value="{{ user.username }}">
                <div id="err-username" class="invalid-feedback"></div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <label for="firstname" class="form-label">Firstname</label>
                    <input id="firstname" name="firstname" type="text" class="form-control" value="{{ user.firstname }}">
                    <div id="err-firstname" class="invalid-feedback"></div>
                </div>
                <div class="col-12 col-sm-6">
                    <label for="lastname" class="form-label">Lastname</label>
                    <input id="lastname" name="lastname" type="text" class="form-control" value="{{ user.lastname }}">
                    <div id="err-lastname" class="invalid-feedback"></div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" type="email" class="form-control" value="{{ user.email }}">
                <div id="err-email" class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" name="password" type="password" class="form-control">
                <div id="err-password" class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="password_confirm" class="form-label">Password retry</label>
                <input id="password_confirm" name="password_confirm" type="password" class="form-control">
                <div id="err-password_confirm" class="invalid-feedback"></div>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
            <hr class="my-4">
            <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        </form>
{% elseif step == 'activate' %}
        <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            <h1 class="h3 mb-3 fw-normal">Signup Successful</h1>
            Thank you for signing up! Please check your email inbox, where you will find an activation link. To activate your account, click on the link.

            Important: You will only be able to log in and use your account after activation.


            <hr class="my-4">
            <small class="text-body-secondary">If you don't see the email, please check your spam/junk folder, or try requesting a new activation email.</small>
        </div>
{% elseif step == 'success' %}
    <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <h1 class="h3 mb-3 fw-normal">User account has been activated</h1>
        Your user profile has been activated, you can now <a href="/login" class="btn btn-primary btn-sm">log in</a> to the application.
        <hr class="my-4">
        <small class="text-body-secondary">Click the log in button, which will navigate you to the application's login screen.</small>
    </div>
{% elseif step == 'unsuccessful' %}
    <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <h1 class="h3 mb-3 fw-normal">Something went wrong</h1>
        Your profile activation was unsuccessful
        <hr class="my-4">
        <small class="text-body-secondary">Please contact the server administrator, <b>{{ server_administrator_email }}</b> and inform them of the time the error might have done that may have caused the error.</small>
    </div>
{% endif %}

    </main>


{% endblock %}